/*
MY COLOR PALETTE
Color 1 - #353535
Color 2 - #ebe5de
Color 3 - #bfd7ea
Color 4 - #839788
Color 5 - #baa898
*/

@media {
    body {
        background-color: #353535;
    }
    h1 {
        color: #ebe5de;
        font-family: "Corinthia", cursive;
        font-size: 80px;
        text-align: center;
        margin-top: 60px;
        margin-bottom: -10px;
    }
    h2 {
        color: #ebe5de;
        font-family: "Alumni Sans Pinstripe", serif;
        font-size: 22px;
        text-align: center;
        letter-spacing: 4px;
        margin-bottom: -0px;
    }
    h3 {
        font-family: "Alumni Sans Pinstripe", serif;
        padding: 25px 0px 25px 0px;
    }
    h4 {
        color: #baa898;
        font-family: "Corinthia", cursive;
        font-size: 60px;
        margin-bottom: 30px;
    }
    h5 {
        color: #baa898;
        font-family: "Corinthia", cursive;
        font-size: 60px;
        margin-bottom: 30px;
    }
    h6 {
        color: #baa898;
        font-family: "Corinthia", cursive;
        font-size: 60px;
        margin-bottom: 30px;
    }
    img {
        width: 80%;
        margin: 50px auto 0px auto;
        border-radius: 30px;
        display: block;
    }
    button {
        background-color: #bfd7ea;
        color: #282120;
        font-family: "Alumni Sans Pinstripe", serif;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 300;
        width: 200px;
        padding: 5px;
        margin: 50px auto 0px auto;
        display: block;
        border: none;
        border-radius: 20px;
    }
    .button{
        color: #282120;
    }
    .button:hover {
        color: #baa898;
    }
    #navigation {
        margin: 20px 0px 0px 0px;
        text-align: center;
        background-color: #839788;
        color: #353535;
    }
    
    }
    #sections1 {
        color: #ebe5de;
        font-family: "Alumni Sans Pinstripe", serif;
        text-align: left;
        margin-top: 50px;
        margin-left: 20px;
    }
.jobtitle{
    font-size: 30px;
}
    #sections2 {
        color: #ebe5de;
        font-family: "Alumni Sans Pinstripe", serif;
        text-align: left;
        margin-top: 50px;
        margin-left: 20px;
    }
    #sections3 {
        color: #ebe5de;
        font-family: "Alumni Sans Pinstripe", serif;
        text-align: left;
        margin-top: 50px;
        margin-left: 20px;
    }
.degree{
    font-size: 30px;
}
}
@media (min-width: 576px) {
    h1 {
        font-size: 100px;
        margin: 50px 0px 0px 50px;
    }
}
